* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

/* ====================Productos html============================================*/
table {
  margin-top: 30px;
}

th, td {
  text-align: center !important;
  font-style: italic;
}

/* ====================Productos html============================================*/
/* ====================Contacto html=============================================*/
.formulario {
  display: grid;
  grid-template-columns: repeat 4, 1fr;
  grid-template-rows: repeat 5, 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "nombre nombre nombre nombre" "email email email email" "pais pais provincia provincia" "ciudad ciudad cp cp" "preguntas preguntas preguntas preguntas";
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.nombre {
  grid-area: nombre;
}

.email {
  grid-area: email;
}

.pais {
  grid-area: pais;
}

.provincia {
  grid-area: provincia;
}

.ciudad {
  grid-area: ciudad;
}

.cp {
  grid-area: cp;
}

.preguntas {
  grid-area: preguntas;
}

/* ====================Contacto html=============================================*/
/* ====================Header=============================================*/
.navbar {
  background-color: rgba(255, 209, 209, 0.774);
}

.navbar-brand {
  width: 50px;
  height: 60px;
}

.nav-item a, select {
  color: rgb(121, 79, 79) !important;
  font-style: italic;
}

/* ====================Header=============================================*/
/* ====================Formatos generales=================================*/
main, footer {
  background-color: rgb(255, 227, 225);
}

h1, h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

h3 {
  font-family: "Indie Flower", cursive;
  margin: 0;
}

p {
  text-align: justify;
}

/* ====================Formatos generales=================================*/
/* ====================Index html=============================================*/
/* Cards*/
.bi-recycle, .bi-droplet-half, .bi-car-front-fill {
  background-color: rgb(255, 227, 225);
  color: rgb(255, 148, 148);
}

.btn {
  background-color: rgb(255, 148, 148);
  border: rgb(255, 148, 148);
}
.btn:hover {
  background-color: rgba(255, 0, 0, 0.514) !important;
}

/* ====================Index html=============================================*/
/* ====================Galeria html=============================================*/
.card {
  filter: grayscale(100%);
}
.card:hover {
  filter: none;
}

/* ====================Galeria html=============================================*/
/* ====================Footer=============================================*/
.nav a {
  color: rgb(121, 79, 79) !important !important;
}

#footerHover ul li:hover {
  background-color: rgba(231, 212, 211, 0.692);
}

/* Redes Sociales */
.bi-facebook {
  color: rgb(63, 103, 178);
  font-size: 20px;
}

.bi-pinterest {
  color: rgb(230, 0, 35);
  font-size: 20px;
}

.bi-whatsapp {
  color: rgb(37, 211, 102);
  font-size: 20px;
}

.bi-instagram {
  color: rgb(255, 48, 108);
  font-size: 20px;
}

/* ====================Footer=============================================*/
/* Media queries */
@media (min-width: 576px) {
  .formPadding {
    padding: 10px 180px 10px 180px !important;
  }
  h1 {
    font-size: 60px;
    padding-bottom: 20px;
  }
  th, td {
    font-size: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */
